<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= link_to "#{comment.user.name}", user_path(comment.user.id) %></p>
    <p><%= comment.content %></p>
    <% if comment.user == current_user %>
      <p><%= link_to '削除', video_comment_path(comment.video_id, comment.id), method: :delete, remote: true, class:"btn btn-danger btn-sm" %></p>
    <% end %>
  <% end %>
<% end %>