<br><br><br>
<%= form_with(model: @comment,:url => {:action => :update}, local: true) do |form| %>
  <div class="field">
    <%= form.text_area :content, required: true, class: "form-control w-50 my-2", rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary btn-sm my-2' %>
  </div>
<% end %>