<%if @following.present?%>
  <h2>フォローしているユーザー</h2>
    <% @following.each do |user| %>
        <%= link_to "#{user.name}", user_path(user.id) %>
    <% end %>
<% else %>
  <h2>フォローされているユーザー</h2>
    <% @followers.each do |user| %>
        <%= link_to "#{user.name}", user_path(user.id) %>
    <% end %>
<% end %>