<% if @following.present? %>
  <h2>フォローしているユーザー</h2>
    <% @following.each do |user| %>
        <%= link_to "#{user.name}", user_path(user.id) %> <br>
    <% end %>
<% elsif @followers.present?%>
  <h2>フォローされているユーザー</h2>
    <% @followers.each do |user| %>
        <%= link_to "#{user.name}", user_path(user.id) %> <br>
    <% end %>
<% else %>
<p>表示できるユーザーがいません</p>
<% end %>
<%= link_to "戻る", user_path, class: "btn btn-light my-2" %>