<h1>お気に入り動画</h1>

  <% @likes.each do |like| %>
    <p>動画:<iframe width="560" height="315" src=<%= embed_url(like) %> ></iframe></p>
    <p>タイトル:<%= like.title %></p>
    <p>投稿者:<%= like.user.name %></p>
  <% end %>