 <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if current_user.id != user.id %>
      <%= link_to "#{user.name}", user_path(user.id) %>
    <% end %>
    <%= render 'follow_form', user: user %>
  <% end %>