<h1 style="text-align: center">動画を投稿</h1>

<%= render 'form' %>

<div style="text-align: center">
  <%= link_to :back, class: "btn btn-outline-dark btn-sm back_btn my-3" do %>
   <i class="fas fa-undo"> 戻る</i>
  <% end %>
</div>
