<h1 style="text-align: center">動画を投稿</h1>

<%= render 'form' %>

<div class="mx-auto" style="width: 350px; text-align: center">
  <%= link_to '戻る', :back, class: "btn btn-outline-dark btn-sm w-50 mt-5" %>
</div>
