<div class="container feature p-4">
  <div class="row mb-5">
    <div class="feature-header">
      <div class="col-lg-12 text-center">
        <h2 class="feature-heading mb-4">MixVideosとは</h2>
        <h4 class="feature-subheading mt-4"><i>自分がもう一度見たいと思うような大手動画共有サービスの動画を一つのサイト管理し、共有できるサービスです。</i><br></h4>
      </div>
    </div>
  </div>

  <div class="row text-center p-3 mt-3" >
    <div class="col-lg-4" style="text-align: center">
      <span class="fa-stack fa-4x">
        <i class="fas fa-cloud-download-alt fa-stack-1x"></i>
      </span>
      <div class="feature-box">
        <h3 class="feature-subtitle"><i class="fas fa-star star"></i> 保存・共有<i class="fas fa-star star"></i></h3><br>
        <p class="feature-text text-left">
          ● 複数の種類の大手動画共有サービスにある動画を保存<br><br>
          ● 公開した動画は動画を動画専用タイムラインに共有(非公開にも設定可能)<br><br>
          ● グループ機能で特定のユーザーだけで動画を共有（準備中）
        </p>
      </div>
    </div>
    <div class="col-lg-4" style="text-align: center">
      <span class="fa-stack fa-4x">
        <i class="fas fa-search fa-stack-1x"></i>
      </span>
      <div class="feature-box">
        <h3 class="feature-subtitle"><i class="fas fa-star star"></i> 探す<i class="fas fa-star star"></i></h3><br>
        <p class="feature-text text-left">
          ● 検索、ソート機能が充実（新着、人気順ソート、文字、サービス、ジャンル、タグ検索）<br><br>
          ● 自分が保存、いいねした動画がマイページでいつでも視聴可能<br><br>
          ● ランキング機能でどの動画が人気かすぐにわかる（準備中）
        </p>
      </div>
    </div>
    <div class="col-lg-4" style="text-align: center">
      <span class="fa-stack fa-4x">
        <i class="fas fa-users fa-stack-1x"></i>
      </span>
      <div class="feature-box">
        <h3 class="feature-subtitle"><i class="fas fa-star star"></i> 繋がる<i class="fas fa-star star"></i></h3><br>
        <p class="feature-text text-left">
          ● フォローフォロワー機能でユーザーの情報に簡単アクセス<br><br>
          ● 動画へのコメント機能で評価を文字化<br><br>
          ● DM機能でユーザー間で直接やりとり（準備中）
        </p>
      </div>
    </div>
  </div>
</div>