<div class="container">
  <h2 style="text-align: center">タグ一覧</h2>
  <%= paginate @tags %>
    <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})", videos_path(tag_name: tag.name), class: "tag_btn btn btn-light btn-sm my-1" %>
    <% end %> <br>
    <div style="text-align: center">
      <%= link_to :back, class: "btn btn-outline-dark btn-sm back_btn my-3" do %>
      <i class="fas fa-undo"> 戻る</i>
    <% end %>
    </div>
</div>