<h2>タグ一覧</h2>
  <% @tags.each do |tag| %>
    <%= link_to "#{tag.name}(#{tag.taggings_count})", videos_path(tag_name: tag.name), class: "badge badge-dark p-1" %>
  <% end %> <br>
  <%= link_to "一覧へ戻る", videos_path, class: "btn btn-light my-2" %>