<h2>タグ一覧</h2>
<%= paginate @tags %>
  <% @tags.each do |tag| %>
    <%= link_to "#{tag.name}(#{tag.taggings_count})", videos_path(tag_name: tag.name), class: "tag_btn btn btn-light btn-sm my-1" %>
  <% end %> <br>
  <div style="text-align: center">
    <%= link_to "戻る", videos_path, class: "btn btn-outline-dark btn-sm my-2 w-25" %>
  </div>