/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

// 共通項目

body{
  background-color: #EDF4FB;
}

ul {
  list-style: none;
}
.ui-helper-hidden-accessible {
  display: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media (min-width: 320px) {
  .container {
    max-width: 767px;
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrap {
	overflow: hidden;
}

// サインインフォーム
#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:100%;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:100%;
  height: 38px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B;}

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

@media (max-width: 412px) {
  #logreg-forms{
    width: 100%;
  }
}

// 吹き出し

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 25px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

// サークルアイコン

.circle img {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #67A6EB;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}

// 検索フォーム
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #b3d3f7;
  border-radius: 30px;
  padding: 5px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  margin-top: 5px;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }
// 動画送信ボタンの位置
  .video-submit-btn{
    left: 25%;
  }

// ユーザーアイコンの編集デザイン
#img_field {
  font-size: 15px;
  padding: 5px 8px;
  border: solid 1px rgb(8, 8, 8);
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 220px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: rgb(190, 204, 204);
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

  .omit_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 80px;
  }

   .count_table{
    position: absolute;
    bottom: 0px;
  }
   .user_btn{
    position: absolute;
    bottom: 2px;
    right: 15px;

  }
   .follow_btn{
    position: absolute;
    bottom: 2px;
    left: 65%;

  }

  // いいねハートのデザイン
  .heart{
    color: red;
  }
  .heart_empty{
    color: red;
  }

  // コメントアイコンのデザイン
  .comment{
    color: rgb(139, 136, 139)
  }

   // ジャンル選択のチェックボックスのデザイン
   input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
    & + label {
      display: inline-block;
      box-sizing: border-box;
      color: gray;
      border: solid 1px;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: white;
      padding: 5px 10px;
      cursor: pointer;
      margin-right: 4px;
    }
    &:checked + label {
      color: gray;
      background-color:#b3d3f7;
      border: solid 1px ;
    }
  }

  // ジャンルのボタンのデザイン
  .genre_btn{
    background-color:#b3d3f7;
    color: gray;
    border: solid 1px;
  }
  .genre_btn:hover{
    background-color:#b3d3f7;
    color: black;
    border: solid 1px;
  }
  // タグのボタンのデザイン
  .tag_btn{
    background-color:#c1f7ed;
    color: gray;
    border: solid 1px;
  }
  .tag_btn:hover{
    background-color:#c1f7ed;
    color: black;
    border: solid 1px;
  }

  div.card-body.tag_box a:nth-child(n+15) {
    display: none;
  }
  // ヘッダーボタンのアクティブ時のデザイン
  header a.active {
    border-bottom: 4px solid #007bff;
    padding-bottom: 3px;
  }
  // ユーザー情報ボタンのデザイン
  .user_info_btn a.btn-outline-primary {
    font-weight: 600;
}
  .user_info_btn a.btn-outline-primary:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
    font-weight: 600;
}
// 新着順と人気順のボタンのデザイン
  .sort_btn a.btn-outline-primary {
    font-weight: 600;
}
  .sort_btn a.btn-outline-primary:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
    font-weight: 600;
}
// 白抜きのボタンのデザイン
.btn-outline-primary{
  background-color: #fff;
}
.btn-outline-dark{
  background-color: #fff;
}

.nav_btn ul li{
  display: inline;
}

// ユーザー一覧のデザイン
.user_list_box a{
  color:  black;
}
.user_list_box .card:hover{
  background-color: #f0f0f0;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

@media (max-width: 600px) {
  .user_list_box .user_list_content .count_table{
    display: none;
  }
}
@media (max-width: 600px) {
  .user_list_box .user_list_content b{
    margin-left: 30%;
  }
}
@media (max-width: 600px) {
  .user_list_box .user_list_content p{
    margin-left: 30%;
  }
}