// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// コンセプト
.toppage_btn_wrapper{
  margin-bottom: 50px;
}
.toppage_btn{
  width: 250px !important;
  border: 0px !important;
  font-size: 1.25rem !important;
}
.toppage_btn:hover{
  color: black !important;
  background-color: #fff !important;
}
.concept {
    background: linear-gradient(135deg, rgba(44, 190, 209, 0.8), rgba(41, 89, 179, 0.8)), image-url("video-share_02.png") no-repeat;
    color: #fff;
    background-size:cover
}
.concept_text{
  text-shadow:2px 4px 3px #09346d;
}

.feture_box{
  text-align: center;
}
.needs_wrapper{
  margin: 0 12%;
}

.concept h1 {
  font-weight: 700;
  text-align: center;
}

.concept h2 {
  font-weight: 600;
  text-align: center;
}

.concept h4 {
  font-weight: 600;
  text-align: center;
}

.concept h5 {
  font-weight: 600;
  margin: 0 20%;
}

// フィーチャー
.star{
  color: #FAF200;
}

.feature{
  font-weight: 600;
}

/* Copyrights */

#copyrights {
  background-color: #EDF4FB;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: black;
}

#copyrights a {
  color: #1abc9c;
}

.credits {
  color: #999;
}


